@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JosefinSans-Regular';
  src: url('/fonts/JosefinSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JosefinSans-Medium';
  src: url('/fonts/JosefinSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JosefinSans-SemiBold';
  src: url('/fonts/JosefinSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JosefinSans-Bold';
  src: url('/fonts/JosefinSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JosefinSans-Light';
  src: url('/fonts/JosefinSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JosefinSans-ExtraLight';
  src: url('/fonts/JosefinSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'JosefinSans-Regular', sans-serif;
  background-color: #FAFAFA;
  color: #1A1A1A;
  overflow-x: hidden;
}

#__next {
  height: 100%;
}
